.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}